body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Menu{
  background-color: #F8F9F9;
}

#BarraBusqueda{
			width: 1000px;
}

.LinkMenu{
  text-decoration: none;
}

#BotonesBusqueda{
  font-size: 10px;
  font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}

#TextoBarraBusqueda{
  font-size: 10px;
}


#ImagenPortada{
  height: 500px;
  width: 1350px;
}

#TextoPortada{
  position: absolute;
  top: 45%;
  left: 10%;
}

#TextoMAS{
  color:#F8FF11
}

#DemasTextoPortada{
  color:#FFFFFF
}

#Carousel{
  width: 1350px;
  border: white 20px solid;
}

#NuevaColeccion{
  margin-top: 80px;
}


#ImagenesNuevaColleccion{
  height: 350px;
  width: 250px;
}


#PrimeraImagenNuevaColeccion{
  margin-left: 200px;
}

#Collage{
  margin-top: 80px;
}

#ImagenCollage{
  position: relative;
}

#PrimeraImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 400px;
}

.TextoPrimeraImagenCollaje{
  color:#FFFFFF;
  position: absolute;
  top: 25%;
  left: 3%;
}

#SegundaImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 280px;
}

#TerceraImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 280px;
}
#CuartaImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 400px;
}
#QuintaImagenCollage{
  border: white 10px solid;
  height: 500px;
  width: 270px;
}

button{
  border: white 1px solid;
}


.EfectoImagen{
  filter: opacity(.5);
}

#Opciones{
  margin-top: 80px;
}

#TextoOpcionesProductos{
  color:#FFFFFF;
  margin-left: 200px;
}

#BotonesOpciones{
  margin-left: 10px;
  width: 210px;
}

#FondoOpciones{
  filter: grayscale(30%);
  height: 500px;
  width: 1350px;
}

#PadreOpciones {
  position: relative;
}

.TextoOpciones{
  position: absolute;
  top: 10%;
}

#SegundoCollaje{
  position: relative;
  margin-top: 80px;
}


#PrimerFotoSegundoCollaje{
  border: white 10px solid;
  height: 450px;
  width: 450px;
}

#SegundaFotoSegundoCollaje{
  border: white 10px solid;
  height: 450px;
  width: 450px;
}

.TextoPrimeraFotoSegundoCollaje{
  color:#FFFFFF;
  position: absolute;
  top: 45%;
  left: 3%;
}

.BotonPrimeraFotoSegundoCollaje{
  position: absolute;
  top: 80%;
  left: 15%;
}

.TextoSegundaFotoSegundoCollaje{
  color:#FFFFFF;
  position: absolute;
  top: 45%;
  left: 45%;
}

.BotonSegundaFotoSegundoCollaje{
  position: absolute;
  top: 80%;
  left: 55%;
}

#BarraFinal{
  margin-top: 80px;
  background-color:#000000;
  height: 300px;
}

#TextoBarraFinalTitulo{
  margin-top: 10px;
  color:#ffe81b;
}

#TextoBarraFinal{
  margin-top: 10px;
  color:#FFFFFF;
}

#BotonBarraFinal{
  background-color:#000000;
}

#DivBotonBarraFinal{
  border: rgb(0, 0, 0) 1px solid;
}
