body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Menu{
  background-color: #F8F9F9;
}

#BarraBusqueda{
			width: 1000px;

}

#BotonesBusqueda{
  font-size: 10px;
  font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
}

#TextoBarraBusqueda{
  font-size: 10px;
}

#ImagenPortada{
  height: 500px;
  width: 1350px;
}

#TextoPortada{
  position: absolute;
  top: 45%;
  left: 10%;
}

#TextoMAS{
  color:#F8FF11
}

#DemasTextoPortada{
  color:#FFFFFF
}

#Carousel{
  width: 1350px;
  border: white 20px solid;
}

#NuevaColeccion{
  margin-top: 80px;

}

#ImagenesNuevaColleccion{

  border: white 20px solid;
  height: 350px;
  width: 250px;
}

#PrimeraImagenNuevaColeccion{
  margin-left: 200px;
}

#PrimeraImagenNuevaColeccion{
  margin-left: 200px;
}

#Collage{
  height: 350px;
  width: 250px;
}

#PrimeraImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 400px;
}

#SegundaImagenCollage{
  border: white 10px solid;
  margin-left: 250px;
  height: 250px;
  width: 250px;
}
#TerceraImagenCollage{
  border: white 10px solid;
  height: 250px;
  width: 250px;
}
#CuartaImagenCollage{
  border: white 10px solid;
  margin-left: 100px;
  height: 250px;
  width: 400px;
}
#QuintaImagenCollage{
  border: white 10px solid;
  height: 500px;
  width: 270px;
}


.EfectoPrimeraImagen:hover {
  filter: opacity(.5);
}
